<h1>About</h1>

<h3><%=link_to "txt141.heroku.com", root_url%> is the easiest way to use Twitter when you have more than 140 characters to convey.</h3>

<p><%=link_to "txt141.heroku.com", root_url%> is really simple, on purpose.  Just paste your text in and get a shortened version and a url you can paste right back into your favorite Twitter client.  We never delete messages so your url is good forever.  Use this for something other than Twitter, we don't mind.</p>

<p>We have an extremely simple <%=link_to "API", api_index_index_path %>, allowing you to use this in your own application via simple REST (XML/JSON supported).  If you run a Twitter client we'd love to talk to you about getting this site included in your application.  Please contact <%=link_to "txt141@gmail.com", "mailto:txt141@gmail.com" %> for more information.</p>

<p><%=link_to "txt141.heroku.com", root_url%> is built in <%=link_to "Ruby", "http://www.ruby-lang.org/en/", :target => "_ruby" %> on <%=link_to "Rails 3", "http://rubyonrails.org/", :target => "_rails"%> and uses <%=link_to "Redis", "http://redis.io/", :target => "_redis" %> for storage.</p>

<br/><br/><br/>
<p class="right">
	<%=link_to image_tag("ruby.jpeg"), "http://www.ruby-lang.org/en/", :target => "_ruby" %>
	&nbsp;&nbsp;&nbsp;
	<%=link_to image_tag("rails.png"), "http://rubyonrails.org/", :target => "_rails" %>
	&nbsp;&nbsp;&nbsp;
	<%=link_to image_tag("Redis.png"), "http://redis.io", :target => "_redis" %>
</p>